.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
    border-color: transparent;
}

.header-label-center .ag-cell-label-container .ag-header-cell-label {
    justify-content: center;
}

.ag-theme-alpine.large {
    --ag-grid-size: 10px;
    --ag-list-item-height: 40px;
    --ag-font-size: 32px;
  }

.ag-theme-alpine.compact {
    --ag-grid-size: 4px;
    --ag-list-item-height: 15px;
    --ag-font-size: 13px;
  }

  .ag-theme-alpine.normal {
    --ag-grid-size: 5px;
    --ag-list-item-height: 20px;
    // --ag-font-size: 13px;
  }