<!-- <header id="header">
    <div class="logo-wrapper float-start" (click)="goToHome()">
        <a href="javascript:void(0)">Crexendo App Store</a>
    </div>
   

    <div class="menu-icon-dark float-end" (click)="toggleMenu()">
        <span class=""><i class="fa-solid fa-bars fa-fw"></i></span>
    </div>
    <div class="user-data float-end">
        <span>Partner/Customer</span>
    </div>
    <div class="search">
        <input type="text" class="form-control" placeholder="Search">
        <button class="btn btn-sm btn-custom-pri">Search</button>
    </div>
</header> -->
<div class="container-xxl">


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark customBg p-0">
        <div class="container-xxl">
            <a class="navbar-brand p-0" href="javascript:void(0)">
                <div class="logo-wrapper float-star ps-0" (click)="goToHome()">
                    <!-- <a href="javascript:void(0)">Crexendo App Store</a> -->
                    <a href="javascript:void(0)">
                        <img src="assets/img/logo.png" alt="Crexendo Logo Powered By NetSapiens">
                    </a>
                </div>

                <!-- <h3>Marketplace</h3> -->
            </a>
            <button *ngIf="isLoggedIn" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-end float-end" *ngIf="isLoggedIn">
                <form class="form-inline nav-search">
                    <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light btn-sm nav-search-btn" type="submit">Go</button>
                </form>
            </div>
            <div *ngIf="isLoggedIn">


                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav pe-0">
                        <!-- <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Features</a>
            </li>-->
                        <!-- <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)"> Home</a>
            </li> 
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Store
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-left-end pullDown "
                    aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/store/home"
                        routerLinkActive="active">Overview</a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/store/user"
                        routerLinkActive="active">Enabled Apps</a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/store/available"
                        routerLinkActive="active">Available Apps</a>
                </div>
            </li> -->
                        <li class="nav-item dropdown user-profile">
                            <a class="nav-link dropdown-toggle pe-0" href="javascript:void(0)"
                                id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" *ngIf="user && user.logo_url">
                                <!-- <img src="assets/img/profile.jpeg"> -->
                                <img src="{{user.logo_url}}" alt="" >
                            </a>
                            <a class="nav-link dropdown-toggle dummy-user pe-0" href="javascript:void(0)"
                                id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" *ngIf="!user || !user.logo_url">
                                <!-- <img src="assets/img/profile.jpeg"> -->
                                <img src="assets/img/dummy_user.png" alt="User">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-left-end pullDown "
                                aria-labelledby="navbarDropdownMenuLink">
                                <!-- <a class="dropdown-item" href="javascript:void(0)">Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)">Settings</a> -->
                                <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-gear fa-fw"></i></a>
            </li> -->

                    </ul>

                </div>
            </div>
            <div *ngIf="!isLoggedIn && !isLoginScreen" class="logginBtn ms-3" title="Login">
                <a href="javascript:void(0)" routerLink="/dashboard/login/">
                    <!-- <i class="fa-solid fa-right-to-bracket fa-fw"></i> -->
                    <img src="assets/img/loginIcon.png" width="35px" height="35px" alt="Login">
                </a>
            </div>
        </div>
    </nav>
</div>