<div id="content" class="store-details">
    <div class="app-detail-banner ">
        <div class="app-detail-top pt-3">
            <div class="container-xxl">
                <div class="row" *ngIf="appDetailsData">
                    <div class="col-lg-3">
                        <div class="preview-item center-block">
                            <div class="preview-item_header details">
                                <a href="javascript:void:0">
                                    <img width="270" height="286" src="{{appDetailsData.app_image_url}}"
                                        alt="{{appDetailsData.app_name}}">
                                </a>
                            </div>
                        </div>

                        <aside>
                            <div class="widget-aside widget-aside-details mt-4">
                                <h4 class="widget-title bg-light"><span>
                                        {{headerTexts.categories}}
                                    </span></h4>
                                <div class="widget-content">
                                    <app-categories [categoriesArr]="categoriesArr"></app-categories>
                                </div>

                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="page-title page-title-adj mb-2">
                                <h1>{{appDetailsData.app_name}}

                                    <div class="rating float-end">
                                        <div class="star-rating" style="font-size: 14px;">
                                            <span>
                                                <i class="fa-solid fa-star fa-fw"></i>
                                                <i class="fa-solid fa-star fa-fw"></i>
                                                <i class="fa-solid fa-star fa-fw"></i>
                                                <i class="fa-solid fa-star-half-stroke fa-fw"></i>
                                                <i class="fa-regular fa-star fa-fw"></i>
                                            </span>
                                        </div>
                                    </div>
                                </h1>
                            </div>
                            <p class="whiteClr">by {{appDetailsData.vendor_name}}</p>
                            <p class="whiteClr mb-0">

                                {{appDetailsData.short_description}}

                            </p>
                            <!-- <p class="whiteClr mb-0">Lorem Ispum Text Lorem Ipsum Text Lorem Ispum Text Lorem Ipsum Text
                            </p> -->
                            <div class="mt-4">
                                <button class="btn btn-light me-3" (click)="goBack()">Go Back</button>
                                <button class="btn btn-custom-danger" *ngIf="(isCustomerUser && isAppEnabled && !appDetailsData.user_mgmt_enabled) ||
                                    (!isCustomerUser && isAppEnabled)" (click)="disableApp()">
                                    Disable
                                </button>
                                <button class="btn btn-custom-pri" (click)="enableApp()" [disabled]="!user" *ngIf="(isCustomerUser && !isAppEnabled && !appDetailsData.user_mgmt_enabled) ||
                                    (!isCustomerUser && !isAppEnabled)">
                                    Enable
                                </button>
                                <button class="btn btn-custom-pri me-3"
                                    *ngIf="isCustomerUser && appDetailsData.user_mgmt_enabled" (click)="manageUsers()"
                                    [disabled]="!user">
                                    Manage Users
                                </button>
                                <button class="btn btn-custom-danger"
                                    *ngIf="isCustomerUser && appDetailsData.user_mgmt_enabled && customerEnabledUsers.length"
                                    (click)="disableWithUsers()" [disabled]="!user">
                                    Disable
                                </button>


                            </div>
                            <div class="mt-5">
                                <div class="overview-section">
                                    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab"
                                                href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1"
                                                aria-selected="true">Overview</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2"
                                                role="tab" aria-controls="ex1-tabs-2" aria-selected="true">
                                                Technical Details</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3"
                                                role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Ratings
                                                &amp; Reviews(2)</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="ex1-content">
                                        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                                            aria-labelledby="ex1-tab-1">
                                            <p class="text-uc">Product Description</p>
                                            <p>
                                                {{appDetailsData.description}}
                                            </p>
                                        </div>
                                        <div class="tab-pane fade show" id="ex1-tabs-2" role="tabpanel"
                                            aria-labelledby="ex1-tab-2">
                                            <p>
                                                It was popularised in the 1960s with the release of Letraset sheets
                                                containing Lorem
                                                Ipsum passages, and more recently with desktop publishing software like
                                                Aldus
                                                PageMaker
                                                including versions of Lorem Ipsum.
                                            </p>
                                            <ul class="parameters text-center mt-5">
                                                <li>
                                                    <div class="circle xSmallCircle">
                                                        <span><i class="fa fa-paper-plane customColor"></i></span>
                                                    </div>
                                                    <div class="parameters-label robotoLight pageTxtColor">Version</div>
                                                    <div class="parameters-value ralewayMedium blackTxtColor">1.3</div>
                                                </li>
                                                <li>
                                                    <div class="circle xSmallCircle">
                                                        <span><i class="fa fa-trophy customColor"></i></span>
                                                    </div>
                                                    <div class="parameters-label robotoLight pageTxtColor">Last Updated
                                                    </div>
                                                    <div class="parameters-value ralewayMedium blackTxtColor">7 January
                                                        2023</div>
                                                </li>
                                                <li>
                                                    <div class="circle xSmallCircle">
                                                        <span><i class="fa fa-user customColor"></i></span>
                                                    </div>
                                                    <div class="parameters-label robotoLight pageTxtColor">Developer
                                                    </div>
                                                    <div class="parameters-value ralewayMedium blackTxtColor">XYZ</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel"
                                            aria-labelledby="ex1-tab-3">
                                            <p class="text-uc">2 Reviews for Application A</p>
                                            <ol class="commentlist">
                                                <li class="review byuser comment-author-admin bypostauthor even thread-even depth-1"
                                                    id="li-comment-43">

                                                    <div id="comment-43" class="comment_container">

                                                        <img alt="" src="assets/img/profile.jpeg"
                                                            class="avatar avatar-60 photo" height="60" width="60"
                                                            loading="lazy" decoding="async">
                                                        <div class="comment-text">

                                                            <div class="rating mb-2">
                                                                <div class="star-rating mb-0">
                                                                    <span>
                                                                        <i class="fa-solid fa-star fa-fw"></i>
                                                                        <i class="fa-solid fa-star fa-fw"></i>
                                                                        <i class="fa-solid fa-star fa-fw"></i>
                                                                        <i
                                                                            class="fa-solid fa-star-half-stroke fa-fw"></i>
                                                                        <i class="fa-regular fa-star fa-fw"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">Jenna Deo
                                                                </strong>
                                                                <span class="woocommerce-review__dash">–</span> <time
                                                                    class="woocommerce-review__published-date"
                                                                    datetime="2016-01-04T11:15:39+00:00">January 4,
                                                                    2023</time>
                                                            </p>

                                                            <div class="description">
                                                                <p>Air god days spirit. Moved. Be waters. Heaven had
                                                                    together Herb
                                                                    given
                                                                    us second behold. Great first itself. After make
                                                                    said herb
                                                                    signs.
                                                                    Stars whose.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="review byuser comment-author-admin bypostauthor odd alt thread-odd thread-alt depth-1"
                                                    id="li-comment-44">

                                                    <div id="comment-44" class="comment_container">

                                                        <img alt="" src="assets/img/profile.jpeg"
                                                            class="avatar avatar-60 photo" height="60" width="60"
                                                            loading="lazy" decoding="async">
                                                        <div class="comment-text">

                                                            <div class="rating mb-2">
                                                                <div class="star-rating mb-0">
                                                                    <span>
                                                                        <i class="fa-solid fa-star fa-fw"></i>
                                                                        <i class="fa-solid fa-star fa-fw"></i>
                                                                        <i class="fa-solid fa-star fa-fw"></i>
                                                                        <i
                                                                            class="fa-solid fa-star-half-stroke fa-fw"></i>
                                                                        <i class="fa-regular fa-star fa-fw"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">Jenna Deo
                                                                </strong>
                                                                <span class="woocommerce-review__dash">–</span> <time
                                                                    class="woocommerce-review__published-date"
                                                                    datetime="2016-01-04T11:15:49+00:00">January 4,
                                                                    2023</time>
                                                            </p>

                                                            <div class="description">
                                                                <p>Multiply beginning Given made Male. Lights Doesn’t
                                                                    yielding
                                                                    together,
                                                                    tree green won’t creature light fill divided under
                                                                    god darkness
                                                                    divided given every over he beginning multiply
                                                                    fruitful whose
                                                                    midst
                                                                    don’t.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal" id="manageUsersPopup" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" *ngIf="appDetailsData && appDetailsData.app_name">
                        Enabled Users - {{appDetailsData.app_name}}
                    </h5>
                    <div>
                        <input type="text" placeholder="Search..." class="form-control" id="customerEnabledUsersSearch"
                            [(ngModel)]="enabledUsersSearchText">
                    </div>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <app-enabled-customer-users [rowData]="customerEnabledUsers" [anyChange]="anyChangeA"
                        [configOptionsOnChanges]="enabledUsersconfigOptionsOnChanges" [tiersArr]="tiersArr"
                        [allUsersSearchText]="enabledUsersSearchText"
                        (rowSelectedEvent)="customerEnabledUsersSelectedEvent($event)"></app-enabled-customer-users>
                    <!-- <app-tiers-list [rowData]="createAppDataModel.tiersArr"
                        (rowActionEvent)="onRowAction($event)"></app-tiers-list> -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-custom-pri" (click)="openAllUsersPopup()">
                        Add</button>
                    <button class="btn btn-sm btn-custom-pri" (click)="enableDisableUsers()">
                        Submit</button>
                    <!-- <button class="btn btn-sm btn-custom-danger" (click)="diableUsers()"
                    [disabled]="!selectedEnabledUsers.length">
                        Disable</button> -->

                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="allUsersPopup" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" *ngIf="appDetailsData && appDetailsData.app_name">
                        Users - {{appDetailsData.app_name}}
                    </h5>

                    <div *ngIf="appDetailsData.user_mgmt_enabled && appDetailsData.user_tiers_enabled && tiersArr.length
                        && selectedUsers.length">
                        <span style="display: inline-block;"> <label class="form-label">Select Tier&nbsp;&nbsp;</label>
                        </span>
                        <span style="display: inline-block;">
                            <select [(ngModel)]="defaultTierConfigValue" class="form-select" id="defaultTierConfig">
                                <option *ngFor="let value of tiersArr">
                                    {{value}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <input type="text" placeholder="Search..." class="form-control" id="customerUsersSearch"
                            [(ngModel)]="allUsersSearchText">
                    </div>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">

                    <app-customers-list [rowData]="customerUsers" [anyChange]="anyChange"
                        [configOptionsOnChanges]="allUsersconfigOptionsOnChanges"
                        [allUsersSearchText]="allUsersSearchText"
                        (rowSelectedEvent)="customerUsersSelectedEvent($event)"></app-customers-list>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-custom-pri" (click)="addToEnableUsers()"
                        [disabled]="!selectedUsers.length">
                        Add</button>
                    <button type="button" (click)="cancelAllUsersPopup()" class="btn btn-sm btn-secondary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>