<div class="custom-ag-table-a" *ngIf="rowData">


    <ag-grid-angular [ngStyle]="style" class="ag-theme-alpine normal" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
        [rowData]="rowData" [rowSelection]="rowSelection" [animateRows]="true" (gridReady)="onGridReady($event)"
        [components]="frameworkComponents" [paginationPageSize]="paginationPageSize"
        [alwaysShowHorizontalScroll]="false" [domLayout]="domLayout" (rowSelected)="onRowSelected($event)"
         [gridOptions]="gridOptions" (rowDoubleClicked)="onRowDoubleClicked($event)"
        [pagination]="true" ></ag-grid-angular>
</div>