<div id="content" class="store-main">
    <div class="container-xxl">

        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-light btn-sm" (click)="goBack()"><i
                        class="fa-solid fa-arrow-left-long fa-fw"></i> Back</button>
                <aside>
                    <div class="widget-aside widget-aside-details mt-3">
                        <h4 class="widget-title bg-light"><span>
                                {{headerTexts.categories}}
                            </span></h4>
                        <div class="widget-content">
                            <app-categories [categoriesArr]="categoriesArr"></app-categories>
                        </div>

                    </div>
                </aside>
                <aside>
                    <div class="widget-aside widget-aside-details mt-4">
                        <h4 class="widget-title bg-light"><span>{{headerTexts.products}}</span></h4>
                        <div class="widget-content">
                            <app-products [productsArr]="productsArr"></app-products>
                        </div>

                    </div>
                </aside>
            </div>
            <div class="col-lg-9">
                <div class="page-title">
                    <h1>Enabled Apps</h1>
                </div>
                <div class="row" *ngIf="enabledApps && enabledApps.length">
                    <div class="col-lg-4 mb-4" *ngFor="let app of enabledApps" (click)="gotoDetails(app.app_id)">
                        <div class="preview-item with-logo">
                            <div class="preview-item_header">
                                <a href="javascript:void:0">
                                    <img src="{{app.app_icon_url}}" alt="">
                                </a>
                            </div>
                            <div class="preview-item_body">
                                <h4 class="preview-item_title">
                                    {{app.app_name}}
                                </h4>
                                <p class="mb-2">{{app.description}}</p>
                                <div class="rating mb-0">
                                    <div class="star-rating">
                                        Ratings:
                                        <span>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star-half-stroke fa-fw"></i>
                                            <i class="fa-regular fa-star fa-fw"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>